*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 50px;
    width: 1200px;
    margin: 0 auto;
}

.list-container{
    display: flex;
    width: 463px;
    justify-content: space-around;
}

.list-container .item{
    list-style: none;
}

.section-one{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.section-one-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container{
    width: 582px;
}

.left-container-title{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
}

.left-container-descrition{
    width: 505px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
}

.left-container-bottom{
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 41px;
}

.section-two{
    width: 1110px;
    margin: 0 auto;
}

.logo-container{
    margin-bottom: 100px;
}

.logo-container img{
    margin-left: 50px;
}

.section-three-title{
    text-align: center;
    margin-bottom: 100px;
}

.collection-container{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin: 0 auto;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
}

.collection{
    box-shadow: 0 0 1px 1px grey;
}

@media only screen and (max-width: 688px) {
    .header-container{
        flex-direction: column;
        width: 100%;
    }
    .header-title{
        margin-bottom: 20px;
    }

    .section-one{
        width: 100%;
    }

    .section-one-container{
        flex-direction: column-reverse;
    }
    .left-container{
        width: 100%;
        padding-left: 20px;
        text-align: center;
    }

    .left-container-descrition{
        width: 100%;
    }
    .right-container{
        max-width: 400px;
        flex-wrap: wrap;
        width: 100%;
        box-shadow: none,none;
    }

    .logo-container{
        width: 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: absolute;
        left: 12%;
    }
}